### Miscellaneous
.DS_Store
Thumbs.db

### Composer
composer.lock
vendor/

### IDE
.idea/

### Wordpress
/htdocs/cms/*
!/htdocs/cms/.gitkeep
/htdocs/content/mu-plugins/themosis-framework/
/htdocs/content/themes/timeplannr/resources/assets/node_modules
/htdocs/content/themes/timeplannr/resources/assets/.sass-cache
/htdocs/content/uploads/
/htdocs/content/upgrade/


### Environment Credentials
.env.*.php
!.env.example.php