body.login {
    background-image: url('/content/uploads/2016/02/table-tennis.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #888;
}

#loginform {
    background-color: rgba(255, 255, 255, 0.6);
}

#login {
    padding-top: 3%;
}

#login .message.register {
    background-color: rgba(255, 255, 255, 0.8);
}

.login #nav,
.login #nav a,
.login #backtoblog a {
    color: #fff;
}

.login #nav a:hover,
.login #backtoblog a:hover,
.login h1 a:hover {
    color: #ddd;
}

.login form {
    padding: 16px 24px 20px;
}

.login h1 a {
    padding-bottom: 0;
}

.login #registerform {
    background-color: rgba(255, 255, 255, 0.8);
}

.login #registerform input.input {
    font-size: 16px;
    padding: 6px 8px;
    margin: 2px 6px 6px 0;
}

.login #registerform label {
    font-size: 12px;
}

.login #registerform #reg_passmail {
    font-size: 12px;
}