body input#calendar-filter {
    font-size: 16px !important;
    padding: 4px 7px !important;
}


body .smart-form {
    /* background-color: #fff !important; */
}

body #header #logo-group #logo {
    margin-top: 7px;
    margin-left: 8px
}

body #header #logo-group #logo img {
    width: 148px;
}

body.login {
    background-image: url('/content/uploads/2016/02/table-tennis.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}